/* Structure */
a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}
  
h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
}

.content-pane {
    width: 45vw;
    height: 30vw;
    background-color: rgba(255,255,255,.7);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Quicksand', sans-serif;
}
  
.wrapper {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.title-top {
    width: 45vw;
    text-align: center;
    border-bottom: 3px solid gray;
    font-weight: 900;
    font-size: 48px;
}

.subtitle-top {
    font-weight: 500;
    font-size: 12px;
}

/* Progression Bar */
.progress {
    height: 25px;
    font-weight: 500;
    font-size: 12px;
    color: white;
    /* TL TR BR BL */
    border-radius: 0 8px 8px 0;
    line-height: 25px;
    transition: all .6s linear;
}

.stage-0 {
    width: calc(45vw * 0.33);
    background-color: #61C0AB;
    text-align: center;
}

.stage-1 {
    width: calc(45vw * 0.66);
    background-color: #A3BE80;
    text-align: center;
}

.stage-2 {
    width: calc(45vw * 1);
    background-color: #61C0AB;
    border-radius: 0;
    text-align: center;
}

.progress-text {
    width: 100%;
    text-align: center;
}

.bottom-panel {
  width: 100%-12px;
  margin-left: 12px;
  text-align: left;
  font-size: 11px;

}

.bottom-panel span {
  cursor: pointer;
  text-decoration:underline;
}

/* Flow panes */
.flow-pane {
    width: 45vw;
    height: calc(30vw - 25px - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -40px;
}

.show {
    display: flex;
}

.hidden {
    display: none;
}

/* Forms */
input[type="text"] {
    width: 35vw;
    height: 50px;
    background-color: white;
    font-size: 20px;
    outline: none;
    padding: 10px;
    margin: 10px;
    transition: .35s linear;
}

.button {
    width: 35vw;
    text-align: center;
    font-size: 18px;
    background-color: #61C0AB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    cursor: pointer;
    padding: 10px;
}

.not-validating {
  border: none;
}

.validating {
  border: 2px solid orange;
  animation: validation-glow 1500ms infinite;
}

#continue-validating {
  display: none;
  animation: validation-spin 1500ms infinite;
}

@keyframes validation-glow {
  0% {
    border: 5px solid #61C0AB;
  }
  50% {
    border: 5px solid #FABB2E;
  }
  100% {
    border: 5px solid #61C0AB;
  }
}

@keyframes validation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.validated-success {
  border: 5px solid green;
}

.validated-failed {
  border: 5px solid red;
}

/* Other */
.result-link {
    width: 35vw;
    text-align: center;
    font-size: 18px;
    background-color: white;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
  
  
  /* ANIMATIONS */
  /* Animations from Raj78 on bootsnipp.com */
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
